.icon{
   border-radius:50%;
}

#avatar{
   width: auto;
   height: 400px;
}

.carousel-caption{
   bottom: 25%;
}

#presentation{
   font-size: 50px;
}

.text-container{
   display: inline-block;
   width: 49%;
}

.avatar-container{
   display: inline-block;
   width: 49%;
}