<div class="container">
   <div class="row align-items-center">
      <div class="col">
         <p id="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras egestas, neque non hendrerit facilisis, ipsum lectus varius eros, non dignissim nibh quam nec purus. Phasellus ac enim odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras eu justo convallis est faucibus viverra. Mauris id venenatis libero, vitae sagittis quam. Etiam porta urna at fermentum tempus. Cras suscipit vel magna non mattis. Praesent porttitor est quam, commodo maximus lacus consectetur eget. Sed pulvinar arcu quis neque laoreet auctor.</p>
      </div>
      <div class="col">
         <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKr5wT7rfkjkGvNeqgXjBmarC5ZNoZs-H2uMpML8O7Q4F9W-IlUQibBT6IPqyvX45NOgw&usqp=CAU" class="icon" id="about-image">
      </div>
   </div>
</div>